@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
#banner {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: 100px;
	background-image:url(football%20banner.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	
}
#banner img {
	height: 300px;
	width: 1000px;
	
}
#nav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
.dropDownMenu ul ul {
	list-style: none;
}

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
/* Menu General Styles */
.menuBackground {
	background: black;
}
.dropDownMenu a {
	color: #FFF;
}
.dropDownMenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.dropDownMenu li {
	position: relative;
}
.dropDownMenu a {
	padding: 10px 20px;
	display: block;
	text-decoration: none;
}
.dropDownMenu a:hover {
	background: #000;
}


/* Level 1 Drop Down Menu */
.dropDownMenu > li {
	display: inline-block;
	vertical-align: top;
	margin-left: -4px; 
}
.dropDownMenu > li:first-child {
	margin-left: 0;
}
.dropDownMenu > li > ul {
	text-align: left;
	width: auto; 
	display: none;
	background: #666;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 9999999;
}
.dropDownMenu > li:hover > ul {
	display: block;
}
.dropDownMenu > li > ul > li > ul {
	text-align: left;
	display: none;
	background: #666;
	position: absolute;
	left: 100%;
	top: 0;
	z-index: 9999999;
}
.dropDownMenu > li > ul > li:hover > ul {
	display: block;
}
#content {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top:10px;
	height: 700px;
}
#photo1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top: 20px;
	height: 300px;
	position:relative;
	left: 20px;
}
#personalinfo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top:20px;
	height: 100px;
	border: solid black 1px;
}
#aboutme {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top:0px;
	height:100px;
	border: solid black 1px;
}
h2 {
	padding: 1%;
	
}
p{
	margin-left:10px;
	
}
#text1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	border: solid black 1px;
}
#gamepic1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#gamepic2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#text2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	border: solid black 1px;
}
#gamepic3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#gamepic4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#website1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top:10px;
}
#website2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top:10px;
}
#website3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top:10px;
}
#website4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top:10px;
}
#video {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#highlights {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top:10px;
}


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#banner {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#nav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#content {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#photo1 {
	clear: both;
	float: left;
	margin-left: 12.8205%;
	width: 61.5384%;
	display: block;
}
#personalinfo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#aboutme {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top:10px;
	height:150px;
}
#text1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	border: 1px solid black;
}
#gamepic1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.7179%;
	display: block;
	margin-top:10px;
}
#gamepic2 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 48.7179%;
	display: block;
	margin-top:10px;
}
#text2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top:10px;
	border: 1px solid black;
}
#gamepic3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.7179%;
	display: block;
	margin-top:10px;
}
#gamepic4 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 48.7179%;
	display: block;
	margin-top:10px;
}
#website1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.7179%;
	display: block;
}
#website2 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 48.7179%;
	display: block;
}
#website3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.7179%;
	display: block;
}
#website4 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 48.7179%;
	display: block;
}
#video {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#highlights {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top:10px;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#banner {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
		height: 300px;
}
#nav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#content {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#photo1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.9795%;
	display: block;
	margin-top: 45px;
	height: 310px;
	position:relative;
	left: 20px;
}
#personalinfo {
	clear: none;
	float: left;
	margin-left: 12.2448%;
	width: 28.5714%;
	display: block;
	height:85px;
	text-align:center;
	position:relative;
	top:10px;
}
ol{
	text-decoration:none;
	
}
#aboutme {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top:20px;
	
}
#text1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#gamepic1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.9795%;
	display: block;
}
#gamepic2 {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 48.9795%;
	display: block;
}
#text2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top:10px;
}
#gamepic3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.9795%;
	display: block;
	margin-top:10px;
}
#gamepic4 {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 48.9795%;
	display: block;
	margin-top:10px;
}
#website1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.9795%;
	display: block;
}
#website2 {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 48.9795%;
	display: block;
}
#website3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.9795%;
	display: block;
}
#website4 {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 48.9795%;
	display: block;
}
#video {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#highlights {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 48.9795%;
	display: block;
	margin-top: 25px;
}
}