@charset "utf-8";
/* CSS Document */
html{
	background-color:#068;
	height: auto;
	width: auto;
	text-align: center;
	margin: 0%;
}

body{
	positioning: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color:#069;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	min-width: 250px;
	padding: 15px;
	margin-top: 0%;
	margin-bottom: 0;
	height: 100%;
}
.header h1{
	text-align: center;
}
.header ul{
	text-align: center;
}
.header li{
	display: inline;
}
.header a{
	text-decoration: none;
}
.contact{
	float:right;
	margin-top: 50px;
	margin-right: 25px;
}
.aboutme{
	float:left;
	max-width: 80%;
}
.table{
		display:block;
		margin-left:auto;
		margin-right:auto;
}
.Contact ul{
	list-style-type: none;
}